<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Love Happens Here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<div id="app" class="page-content page-container" id="page-content">
    <div id="app" class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card card-bordered">
                        <div class="card-header">
                            <h4 class="card-title"><strong>Chat</strong></h4>
                        </div>

                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content">
                            <!-- YOU Section -->
                            <!-- YOU Section -->
                            <div class="media media-chat ">
                                <img class="avatar" src="./img/characters/KingVampire.png" alt="...">
                                <div v-for="(message, index) in messages" :message="message" :key="index"
                                    class="media-body">
                                    <p>{{ message }}</p>
                                </div>
                            </div>

                            <div class="media media-meta-day">Today</div>
                            <div class="media media-chat media-chat-reverse">
                                <img class="avatar" src="./img/characters/FrogBaker.png" alt="...">
                                <img class="avatar" src="./img/characters/FrogBaker.png" alt="...">
                                <div v-for="(display, index) in displays" :display="display" :key="index"
                                    class="media-body">
                                    <p>{{display}}</p>
                                </div>
                            </div>


                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>

                        <div class="publisher  border-light">
                            <img class="avatar avatar-xs" src="./img/characters/KingVampire.png">
                            <input v-model="messages.body" placeholder="Type something here">
                            <img class="avatar avatar-xs" src="./img/characters/KingVampire.png">
                            <input v-model="messages.body" placeholder="Type something here">
                            <span class="publisher-btn file-group">
                                <i class="fa fa-paperclip file-browser"></i>
                                <input v-model="message.body" type="file">
                                <input v-model="message.body" type="file">
                            </span>
                            <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                            <a class="publisher-btn text-info" href="#" data-abc="true">
                                <img @click="sendDataToAPI" class="mailSumbit" src="./grimtol_icon_pack/png/mail.png" />
                            </a>
                            <a class="publisher-btn text-info" href="#" data-abc="true">
                                <img @click="sendDataToAPI" class="mailSumbit" src="./grimtol_icon_pack/png/mail.png" />
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        import axios from 'axios';
        const vueApp = new Vue({
            el: '#app',
            data: {
                displays: ['redbox', 'card'],
                message: { body: 'This is where my input will go with v-model' }
            },
            methods: {
                sendDataToAPI() {
                    // You can send the messages.body value to your API here
                    const inputValue = this.message.body;
                    // Use Axios or another HTTP library to send the data to your Express.js route.

                    axios.post('/chatPage', { data: inputValue })
                        .then(response => {
                            // Handle the API response here if needed
                            console.log('Data sent to API:', inputValue);
                        })
                        .catch(error => {
                            // Handle any errors here
                            console.error('Error sending data to API:', error);
                        });
                }
            }
        });
    </script>



    <script>
        import axios from 'axios';
        const vueApp = new Vue({
            el: '#app',
            data: {
                displays: ['redbox', 'card'],
                message: { body: 'This is where my input will go with v-model' }
            },
            methods: {
                sendDataToAPI() {
                    // You can send the messages.body value to your API here
                    const inputValue = this.message.body;
                    // Use Axios or another HTTP library to send the data to your Express.js route.

                    axios.post('/chatPage', { data: inputValue })
                        .then(response => {
                            // Handle the API response here if needed
                            console.log('Data sent to API:', inputValue);
                        })
                        .catch(error => {
                            // Handle any errors here
                            console.error('Error sending data to API:', error);
                        });
                }
            }
        });
    </script>

</html>